:root {
  --primary-color: white;
  --secondary-color: black;
  --transparence-color: rgba(255, 255, 255, 0.2);
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --first-transition: 0.5s ease-in-out;
}
